* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h2, 
h3 {
    margin: 0;
}

.container {
    display: grid;
    grid-template: 200px auto / 300px auto;
    height: 100vh;
}

.navbar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(12, 48px);
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px;
    align-items: center;
}

.navbar a {
    color: white;
    justify-self: center;
}

.icon {
    width: 24px;
}

#dashboard {
    width: 52px;
}

.dashboard {
    font-size: 1.5em;
}

#home {
    grid-row: 3 / 4;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 0 48px;
}

.avatar_sm {
    border-radius: 50%;
    height: 48px;
}

.avatar_lg {
    border-radius: 50%;
    height: 72px;
}

button {
    border-radius: 20px;
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    border: none;
    font-size: .9em;
    padding: 10px 0;
    width: 88px;
    cursor: pointer;
}

#search {
    background-color: #ddd;
    border-radius: 16px;
    border: none;
    padding: 8px 8px 8px 12px;
    flex: 0 1 500px;
}

#search:focus {
    outline: none;
}

#search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    background: url(images/clear.svg);
    cursor: pointer;
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search_bar button {
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-top: 8px;
    padding: 0;
    cursor: pointer;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.notifications p {
    font-weight: bold;
}

.greeting {
    display: grid;
    gap: 16px;
    font-weight: bold;
    grid-template: auto auto / auto auto;
    justify-content: start;
    align-items: center;
}

.default_greeting {
    font-size: .8em;
    padding-bottom: 8px;
}

.current_user {
    font-size: 1.5em;
}

.buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
}

.content {
    background-color: #eee;
    box-shadow: inset 0 3px 6px rgba(141, 141, 141, 0.26);
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    padding: 20px 20px 40px 20px;
}

.projects {
    display: grid;
    grid-template-rows: 40px;
}

.projects p {
    color: #777;
}

.project_cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 250px;
}

.card,
.trending_card,
.announcements_card {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
}

.card {
    border-left: 8px solid rgb(255, 187, 0);
    display: grid;
}

.like_share_follow {
    display: flex;
    justify-content: end;
    gap: 24px;
    margin-top: 8px;
    align-items: end;
}

.announcements_trending {
    display: grid;
    grid-template-rows: repeat(2, 400px);
    gap: 40px;
}

.announcements {
    display: grid;
    grid-template-rows: 40px;
}

.announcements p {
    color: #777;
}

.announcements_card {
    height: 315px;
}

.trending {
    display: grid;
    grid-template-rows: 40px;
}

.trending_card {
    height: 301px;
    display: grid;
    grid-template-columns: 48px auto;
    gap: 16px;
}
.trending_card a {
    align-self: center;
    width: 48px;
    height: 48px;
}

.trending_text {
    align-self: center;
}

.trending_text p:nth-child(2) {
    color: #777;
}